.notification {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

/* success message */
.success {
  color: green;
  border-color: green;
}

/* error message */
.error {
  color: red;
  border-color: red;
}
