# fly.toml app configuration file generated for note-rough-river-5288 on 2026-01-21T14:38:49+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'note-rough-river-5288'
primary_region = 'jnb'

[env]
  PORT = "3000"

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']


[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
